<div class="container my-4">
    <h3>{{ title }}</h3>
    <button 
        (click)="setOpenForm()" 
        class="btn btn-primary">
        {{ isOpenForm ? 'Cerrar formulario' : 'Crear usuario' }}
    </button>
    <div class="row"> 
        <div class="col">
            <app-user-grid 
                [users]="users"
                (deleteUserEvent)="deleteUser($event)"
                (editUserEvent)="editUser($event)"
            ></app-user-grid>

        </div>

    </div>
</div>
 @if (isOpenForm) {

    <div class="abrir-modal animacion fadeIn">
        <app-user-form 
            [user]="userSelected"
            (userEventEmitter)="addUser($event)"
            (openEventEmitter)="setOpenForm()"
            >
        </app-user-form>

    </div>

}

