<div class="card" >
    <div class="card-content">
      <div class="card-header">
        <h5 class="card-title">Formulario {{ user.id > 0 ? 'Actualizar' : 'Crear' }} Usuario</h5>
      </div>
      <div class="card-body">
        
        <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">

            <div>
                <input 
                    placeholder="Nombre"
                    name="name"
                    [(ngModel)]="user.name"
                    required
                    #name="ngModel"
                class="form-control my-2">
                @if (name.invalid && (name.dirty || name.touched)) {
                    @if (name.errors!['required']) {
                        <div class="text-danger">
                            El nombre es requerido.
                        </div>
                        
                    }
                    
                }
            </div>
            <div>
                <input 
                    placeholder="Apellido"
                    name="lastname"
                    [(ngModel)]="user.lastname"
                    required
                    #lastname="ngModel"
                class="form-control my-2">
                @if (lastname.invalid && (lastname.dirty || lastname.touched)) {
                    @if (lastname.errors!['required']) {
                        <div class="text-danger">
                            El apellido es requerido.
                        </div>
                    }
                }
            </div>
            <div>
                <input 
                    placeholder="Email"
                    name="email"
                    [(ngModel)]="user.email"
                    required
                    type="email"
                    email
                    #email="ngModel"
                class="form-control my-2">
                @if (email.invalid && (email.dirty || email.touched)) {
                    @if (email.errors!['required']) {
                        <div class="text-danger">
                            El email es requerido.
                        </div>
                    }
                    @if (email.errors!['email']) {
                        <div class="text-danger">
                            El email no es válido.
                        </div>
                    }
                }
            </div>
            <div>
                <input 
                    placeholder="Username"
                    name="username"
                    [(ngModel)]="user.username"
                    required
                    #username="ngModel"
                class="form-control my-2">
                @if (username.invalid && (username.dirty || username.touched)) {
                    @if (username.errors!['required']) {
                        <div class="text-danger">
                            El username es requerido.
                        </div>
                    }
                }
            </div>
            <div>
                <input 
                    placeholder="Password"
                    type="password"
                    name="password"
                    [(ngModel)]="user.password"
                    required
                    minlength="6"
                    #password="ngModel"
                class="form-control my-2">
                @if (password.invalid && (password.dirty || password.touched)) {
                    @if (password.errors!['required']) {
                        <div class="text-danger">
                            El password es requerido.
                        </div>
                    }
                    @if (password.errors!['minlength']) {
                        <div class="text-danger">
                            El password debe tener al menos 6 caracteres.
                        </div>
                    }
                }
            </div>
            
            <div class="text-end mt-4">
                <button 
                    type="submit" 
                    class="btn btn-primary m-2" 
                    [disabled]="userForm.invalid">
                        
                        {{ user.id > 0 ? 'Actualizar' : 'Crear' }} 
                </button>
                <button 
                    type="button"
                    (click)="onClear(userForm)"
                    class="btn btn-secondary m-2" 
                    >
                        Limpiar
                </button>
            </div>


        </form>
      </div>
    </div>
</div>

